<p style="color: green"><%= notice %></p>

<% content_for :title, "Connections" %>

<h1>Connections</h1>

<div id="connections">
  <% @connections.each do |connection| %>
    <%= render connection %>
    <p>
      <%= link_to "Show this connection", connection %>
    </p>
  <% end %>
</div>

<%= link_to "New connection", new_connection_path %>
